@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 60% 95.3%;
    --foreground: 224 71.4% 4.1%;
    --card: 180 60% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 180 60% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 0 0% 98%;
    --secondary: 180 20% 90%;
    --secondary-foreground: 180 100% 25.1%;
    --muted: 180 20% 92%;
    --muted-foreground: 224 71.4% 25%;
    --accent: 207.7 44.2% 49.4%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 85%;
    --input: 180 20% 88%;
    --ring: 180 100% 25.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 0 0% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 180 100% 25.1%;
    --primary-foreground: 0 0% 98%;
    --secondary: 224 71.4% 10%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 71.4% 10%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 207.7 44.2% 49.4%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71.4% 10%;
    --input: 224 71.4% 10%;
    --ring: 180 100% 25.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
